.prdctView{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.prdctView:hover{
  -webkit-box-shadow: 0px 0px 11px 0px rgba(55, 50, 50, 0.88);
-moz-box-shadow:    0px 0px 11px 0px rgba(55, 50, 50, 0.88);
box-shadow:         0px 0px 11px 0px rgba(55, 50, 50, 0.88);
}
.prdctView h4{
  margin-top: 20px;
  margin-bottom: 20px;
}
.prdctView h5{
  color: gray;
}
.cart{
  color: white;
  background-color: black;
  border: none;
  height: 50px;
  width: 50%;
}
.discart{
  color: gray;
  background-color: black;
  border: none;
  height: 50px;
  width: 50%;
}
.cart:hover{
  cursor: pointer;
}
.bsktCard img{
  width: 20%;
  max-height: 150px;
}
.bsktdel{
  color: aliceblue;
  background-color: red;
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
}
.bsktCard{
  display: flex;
  justify-content: space-between;
}
.bsktCnt{
  display: flex;
}
.bsktCnt button{
  height: 30px;
  margin: 5px;
  border: none;
  cursor: pointer;
}